@import 'variables';
@import 'san-francisco';
@import 'font-awesome/font-awesome';

html {
  background-color: #eee;
  box-sizing: border-box;
  font-family: "San Francisco";
  font-size: 16px;
  margin: 0;
  height: 100%;
  padding: 0;

  * {
    box-sizing: inherit;
  }
}

body {
  background-color: #fff;
  margin: 0 auto;
  height: 100%;
  padding: 20px;
  width: $base-width;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0
}
