@font-face {
  font-family: 'San Francisco';
  font-style: normal;
  font-weight: normal;
  src: url('/assets/fonts/SF-UI-Text-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'San Francisco';
  font-style: italic;
  font-weight: normal;
  src: url('/assets/fonts/SF-UI-Text-RegularItalic.otf') format('opentype');
}

@font-face {
  font-family: 'San Francisco';
  font-style: normal;
  font-weight: bold;
  src: url('/assets/fonts/SF-UI-Text-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'San Francisco';
  font-style: italic;
  font-weight: bold;
  src: url('/assets/fonts/SF-UI-Text-BoldItalic.otf') format('opentype');
}
